*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
  scroll-behavior:smooth;
}

body{
  background:#fff7ef;
}

/* NAVBAR */
.navbar{
  background:#ff6a00;
  padding:15px 60px;
  display:flex;
  align-items:center;
  position:fixed;
  width:100%;
  top:0;
  z-index:1000;
}

.logo{
  color:white;
  font-size:22px;
  font-weight:bold;
}

.menu{
  margin-left:auto;
}

.menu a{
  color:white;
  text-decoration:none;
  margin:0 12px;
  font-weight:bold;
}

/* HERO */
.hero{
  height:100vh;
  background:linear-gradient(rgba(255,106,0,0.7),rgba(255,106,0,0.7)),
  url("https://images.unsplash.com/photo-1520975922203-bff0a1c5f9e5") center/cover;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
  padding-top:60px;
}

.hero h1{
  font-size:52px;
}

.hero p{
  font-size:18px;
  margin:15px 0;
}

.hero button{
  padding:12px 30px;
  background:white;
  color:#ff6a00;
  border:none;
  font-size:16px;
  border-radius:20px;
  cursor:pointer;
}

/* SECTION */
.section{
  padding:100px 80px;
  text-align:center;
}

.section h2{
  margin-bottom:25px;
}

.section p{
  max-width:900px;
  margin:12px auto;
  font-size:17px;
  line-height:1.7;
}

.light{
  background:#fff;
}

/* LIST */
.list{
  max-width:600px;
  margin:20px auto;
  text-align:left;
  font-size:17px;
}

/* PRODUCTS */
.product-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
  margin-top:30px;
}

.product-card{
  background:white;
  padding:15px;
  border-radius:12px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  transition:0.3s;
}

.product-card:hover{
  transform:scale(1.04);
}

.product-card img{
  width:100%;
  border-radius:10px;
}

.product-card a{
  text-decoration:none;
  color:black;
}

/* REVIEWS */
.review-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
  margin-top:30px;
}

.review-card{
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  font-size:16px;
}

.review-card h4{
  margin-top:10px;
  color:#ff6a00;
  font-weight:bold;
}

/* FAQ */
details{
  background:white;
  padding:15px;
  margin:10px auto;
  width:70%;
  border-radius:8px;
  box-shadow:0 0 5px #ccc;
  text-align:left;
}

/* CONTACT */
.whatsapp{
  display:inline-block;
  margin-top:20px;
  background:#25D366;
  color:white;
  padding:12px 25px;
  border-radius:25px;
  text-decoration:none;
  font-weight:bold;
}

/* FOOTER */
footer{
  background:#ff6a00;
  color:white;
  text-align:center;
  padding:15px;
}
